body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fbfbfb;
}

.signin-register {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex: 1;
}

.buttons {
  margin: 8px;
}

/* Override the ugly red colors from mdl */
label {
  color: black !important;
}

input {
  border-color: black !important;
}

label ::after {
  background-color: black !important;
}
