.toRequests{
  color: inherit !important;
}
#friendRequestBox{
  margin: 'auto';
  min-height: 0px !important;
  position: absolute !important;
  min-width: 27%;
  right: 0%;
  top: 66px;
}
#friendRequestBox li{
  padding: 0px 10px !important;
}
#friendRequestBox .mdl-list__item-secondary-content i{
  font-weight: bold !important;
  font-size: xx-large !important;
}
#friendRequestBox .accept{
  color: #33b733;
}
#friendRequestBox .deny{
  color: #e24d1d;
}
#friendRequestBox .emptyRequests{

}
#friendRequestBox .emptyRequests i{
  padding-right: 20px;
}
