#searchForm label{
  opacity: 1 !important;
}
#searchForm i:hover{
  color:pink;
}
#searchForm .mdl-button:hover {
    background-color: transparent !important;
}
#searchForm{
  max-width: 1200px;
}
#searchForm .material-icons{
  transition: 0.3s ease;
  color: #5C272D !important;
  width: 100%;
}
#searchForm .material-icons:hover{
  color: #fff !important;
}
#searchForm input{
  max-width: 100% !important;
}
#searchForm .mdl-textfield{
  padding: 20px;
}

#searchBox{
  margin: 'auto';
  min-height: 0px !important;
  position: absolute !important;
}
#searchBox ul{
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 1px solid #bfbfbf;
}
#searchBox ul a{
  width: 100%;
}
#searchBox ul p{
  font-size: 16px;
  width: 76%;
  float: left;
  margin: 9px 0 !important;
}
#searchBox ul button{
  float: left;
}
.addUser{
  width: 17%;
  float: right;
  padding-right: 10px;
}
.addUser i{
  font-size: 33px !important;
}
.avatarPic{
  height: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
  margin-right: 10px !important;
}
