.main {
  display: flex;
  flex-direction: column !important;
  min-width: 0px;
}

.content {
  display: flex;
  flex: 1;
}
.mdl-layout__header-row{
  background: #F28D52 !important;
}

.mdl-layout__header-row .navIcon{
  float: right !important;
  color: #5C272D !important;
  font-size: 24px !important;
  transition: color 0.3s ease;
}


/*FRIEND REQUESTS*/
.mdl-layout__header-row .navIcon:hover{
  color: #ffffff !important;
}

/*SIGNOUT*/
.mdl-layout__header-row .signOut{
  transition: color 0.3s ease;
  font-weight: bold;
}
.signOut:hover{
  color: #ffffff !important;
}
.main .mdl-card{
  max-width: 800px;
  width: 99% !important;
  margin: auto !important;
  margin-top: 5px !important;
}
