/*PROFILE*/
#profileLink{
  background: rgba(0,0,0,0.5);
  padding-bottom: 17px;
}

#profileLink header:hover{
  background: none !important;
}
#profileLink img{
  width: 30%;
  border-radius: 50%;
  margin-right: 20px;
}
#profileLink a{
  transition: color 0.3s ease;
  float: left;
  padding-top: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  color: white;
}
#profileLink a:hover{
  color: #f39c6a;
}

/*DRAWER*/
.mdl-layout__drawer{
  background: #8FA7BF !important;
}
.mdl-layout__drawer-button{
  background: #F28D52 !important;
}
.mdl-layout__drawer .mdl-navigation{
  padding-top: 0 !important;
}
.mdl-layout__drawer .mdl-navigation__link{
  transition: background-color 0.3s ease;
  color: #dbdde0 !important;
  padding: 20px 40px !important;
}
.mdl-layout__drawer .mdl-navigation__link:hover{
  background-color: #7e93a9 !important;
}
.mdl-layout__drawer #drawerboxes .mdl-navigation__link{
  transition: background-color 0.3s ease;
  font-size: 17px;
  color: #dbdde0 !important;
  padding: 20px 40px !important;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border-bottom: 0.5px solid #c0c6ce;
  border-top: 0.5px solid #c0c6ce;
}

/*FRIENDS LIST*/
.friends-true, .chats-true{
  background-color: #6e8399 !important;
  border-bottom: 1px solid #c3c3c3 ;
}
.mdl-navigation .friends, .chats{
  margin: 0;
  padding: 0;
  background-color: #72879e !important;
}
.mdl-navigation .friends li, .chats li{
  transition: background-color 0.3s ease;
}
.mdl-navigation .friends li:hover, .chats li:hover{
  background-color: #7e93a9 !important;
}
.mdl-navigation .friends li a{
  text-decoration: none;
  color: #dbdde0;
}
.mdl-navigation .friends li img{
  float: left;
  border-radius: 50px;
}
.mdl-navigation .friends li p{
  padding-top: 5px;
  margin-bottom: 0;
  padding-left: 10px;
  float: left;
}
.mdl-navigation .friends li i{
  padding-top: 5px;
  float: right;
}

/*CHATS LIST*/
.chatList{
  padding: 0 !important;
}
.chatList li{
  padding-left: 50px;
}
.chatList li:hover{
  padding-left: 55px;
  background-color: #718497;
}
.chatList li p{
  margin-bottom: 0 !important;
}
