.profileCard{
  margin: auto;
  max-width: 500px;
  width: 100% !important;
  padding: 0px !important;
}

/*ACTIONS*/
.profileCard .mdl-dialog__actions{
  border-bottom: 1px solid #d0cdcd;
}
.profileCard .mdl-dialog__actions .buttons {
  margin: 0;
  float: right;
  min-width: 0px !important;
}
.profileCard .mdl-dialog__actions .buttons:hover{
  background: none !important;
}
.profileCard .mdl-dialog__actions .buttons i{
  transition: color 0.3s ease;
}
.profileCard .mdl-dialog__actions .buttons i:hover{
  color: #f28d52 !important;
}

.profileCard .changePasswordTitle{
  font-size: 155%;
  border-bottom: 1px solid #a7a7a7;
}
.profileCard .changePasswordEmail{
  font-size: 100%;
}
