
.profileCard{
  margin: auto;
  max-width: 500px;
  width: 100% !important;
  padding: 0px !important;
}

/* TITLE */
.profileCard img{
  top:16px;
  left:16px;
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  border: 1px solid #d0cdcd;
  box-shadow: 1px 1px 5px 1px #d0cdcd;
}
.profileCard .mdl-card__title h3{
  position: relative;
  left:160px;
  margin-top:16px;
  margin-bottom:0;
}

/* INFORMATION */
.profileCard .info{
  position:relative;
  padding-top: 25px;
  left: 160px;
  min-height: 60px;
}

.profileCard .info .key p{
  float:left;
  padding-right: 10px;
  margin-bottom: 0px;
  border-right: 1px solid #d0cdcd;
}
.profileCard .info .value p{
  float:left;
  font-weight: bold;
  margin-left:10px;
  margin-bottom: 0px;
}

/* CHANGE PASSWORD */
.ChangePasswordForm{
  margin-left:16px;
}

.profileCard .changePasswordTitle{
  font-size: 155%;
  left:0 !important;
}
.profileCard .changePasswordEmail{
  font-size: 100%;
  padding-bottom: 20px;
}

@media screen and (max-width: 600px){

/* TITLE */
.profileCard img{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.profileCard .mdl-card__title {
  display:block;
  position:relative;
}

.profileCard .mdl-card__title h3 {
  left: unset;
  text-align: center;
  margin-top:146px;
}

/* INFORMATION */
.profileCard .info{
  left: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}  

.profileCard .changePasswordTitle{
  margin-top:0px !important;
}

}