.mdl-card{
  padding:0 !important;
  background-color: white !important;
  max-width: 500px !important;
  left: 20% !important;
  right: 20% !important;
}

.mdl-card__supporting-text{
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid !important;
  padding:8px!important;
  width:100% !important;
  white-space: normal !important;
}

.mdl-card__supporting-text .cardtext-reason{
  line-height: 150% !important;
  padding-right: 8px !important;
}

.cardtext-bold {
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
}