.table{
  width: 100%;
}

th, td {
  text-align: left !important;
}

.td-right {
  text-align: right !important;
}

.td-center {
  text-align: center !important;
}

.tabs .mdl-layout__tab-bar{
  height: 100% !important;
  background-color: rgb(255, 223, 138) !important;
  width: 100%
}

.admin-tab {
  color: #3e3e3e !important;
}
.admin-tab:hover {
  text-shadow: 0.5px 0.5px 10px rgb(199, 172, 103);
}

.tabs .content .list{
  margin: auto;
}

.tabs .content .list .mdl-button--fab:hover{
  background: #ff3852;
}

.ReportedUserList p{
    color: black;
    font-size: 25px;
}

.viewReasons .mdl-tooltip {
  min-width: 300px !important;
  background-color: white!important;
  padding:0 !important;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.viewReasons{
  cursor: pointer;
  color: #F28D52 !important;
  padding:0 !important;
  margin: 0 !important;
}

.reasonsCard{
  min-width: 300px !important;
  min-height:60px !important;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid !important;
}

.reasonsText  {
  white-space: normal !important;
  width: 100% !important;
  height:100% !important;
  padding:8px !important;
}

.cardtext-date, .cardtext-message{
  line-height: 150% !important;
  padding-right: 8px !important;
  font-size: 12px !important;
}

.cardtext-date{
  padding-bottom:3px !important;
  padding-top:-3px !important;
}

.cardtext-bold {
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
}
