.table{
  width: 100%;
}

.tabs .mdl-layout__tab-bar{
  height: 100% !important;
  background-color: rgb(255, 223, 138) !important;
}

.admin-tab {
  color: #3e3e3e !important;
}
.admin-tab:hover {
  text-shadow: 0.5px 0.5px 10px rgb(199, 172, 103);
}


.tabs .content .list{
  margin: auto;
}

.tabs .content .list .mdl-button--fab:hover{
  background: #ff3852;
}


.ReportedUserList p{
    color: black;
    font-size: 25px;
}
